# Virtual environments
venv/
env/
.venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Testing
.coverage
htmlcov/
.tox/
pytest_cache/

# Other folders/files to ignore
old/

# Packaging
MANIFEST
